@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    overflow-x: hidden; 
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}



.main-content {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.header-content {
    background-image: url(/img/Rectangle\ 678.jpg);
    background-repeat: no-repeat;
}

.header-top {
    padding-top: 40px;
    background: #F3D7B7;
}

.header-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-list {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero-list-item:not(:last-child) {
    margin-right: 40px;
}

.hero-link {
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-main-bottom {
    padding-top: 45px;
    padding-left: 150px;
    right: 0;

}


.header-main-content {
    display: flex;
    align-items: center;

}

.header-main-wrapper {
    width: 100%;
    max-width: 464px;
    margin-right: 145px;
}

.header-main-heading {
    margin-top: 0;
    margin-bottom: 24px;
    width: 447px;
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-main-text {
    width: 464px;
    margin-top: 0;
    margin-bottom: 34px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.button {
    border: 0;
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 100px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    letter-spacing: 1px;
}

.button-green {

    background: #0A775F;
}

.button-burlywood {
    text-decoration: none;
    background: burlywood;
    margin-left: 604px;
}

.header-main-bottom-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 710px;
    height: 696px;
    position: relative;

}

.logo-png {
    top: -50px;
    left: -80px;
    position: absolute;
    width: 160px;
    height: 160px;
}

.main-top {
    position: relative;
    margin-top: 20px;
    background-color: #F8F8F2;
    padding: 50px;

}

.main-top-heading {
    margin-top: 0;
    padding-bottom: 80px;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
}

.main-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.main-list-item {
    display: flex;
    align-items: center;
    margin-right: 117px;
    margin-left: 117px;
}

.main-list:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 117px;
}



.main-heading {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Roboto';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
}

.main-text {
    margin-top: 0;
    width: 453px;
    color: #333;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-transform: lowercase;
}

.our-collection-img {
    position: absolute;
    top: 0;
    left: -190px;
}

.our-collection-img2 {
    position: absolute;
    bottom: 690px;
    right: -200px;
}

.our-collection-img3 {
    position: absolute;
    bottom: 600px;
    right: -230px;
}

.our-collection-img4 {
    position: absolute;
    bottom: 200px;
    left: -200px;
}

.feature-content {
    background-image: url(/img/Rectangle\ 116.svg);
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.feature-wrapper {

    padding-top: 50px;
    padding-bottom: 80px;
}

.feature-heading {
    margin-top: 0;
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
}

.feature-text {
    margin: 0;
    margin-bottom: 50px;
    width: 581px;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;

}

.feature-list-wrapper {
    position: relative;
}

.images {
    display: flex;
    position: absolute;
    background-image: url(/img/Group.png);
    background-repeat: no-repeat;
    width: 140px;
    height: 144px;
    top: -50px;
    left: -50px;
}

.img {
    width: 433px;
    height: 500px;
}

.feature-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.feature-list-item {
    list-style: none;
}

.feature-list-item:not(:last-child) {
    margin-right: 20px;

}

.span {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border: 4px solid #C99B67;
    background-color: #F8F8F2;
}

.feature-list-item-heading {
    color: #333;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;

}

.feature-list-item-text {
    width: 377px;
    color: #333;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.promo {
    padding-top: 50px;
    padding-bottom: 80px;
    margin-top: 0;
    margin-bottom: 50px;
    background-image: url(/img/Rectangle\ 116.png);
}

.promo-wrapper-heading {

    margin-top: 0;
    margin-bottom: 200px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
}

.promo-logo {
    position: relative;

}

.promo-img-svg {
    margin-bottom: 50px;
    position: absolute;
    top: 10px;
    right: 50px;
}

.promo-list {

    display: flex;
    padding: 0;
    margin-bottom: 60px;
    counter-reset: tartib;

}


.promo-list-link {
    display: flex;
    flex-direction: column;
    width: 433px;
    background-color: #f8f8f2;
    list-style-type: none;
    padding-top: 20;
    padding-left: 20px;
    padding-right: 28px;
    padding-bottom: 40px;
    counter-increment: tartib;
}

.promo-list-link::before {
    color: #333;
    font-family: 'Roboto';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: all-small-caps;
    opacity: 0.8;
    align-self: flex-end;
    content: '0' counter(tartib);
    margin-bottom: 45px;
}

.promo-list-link:not(:last-child) {
    margin-right: 20px;
}

.promo-list-box {
    top: 0;
    display: flex;
    width: 60px;
    height: 60px;
    border: 4px solid #C99B67;
    background: #F8F8F2;
}

.promo-content {
    display: flex;
}

.promo-heading {
    margin-top: 0;
    color: #333;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;

}

.promo-text {
    margin: 0;
    color: #333;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.footer {
    background-image: url(/img/Rectangle\ 678.jpg);
}

.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;

}

.footer-list-item:not(:last-child) {
    margin-right: 40px;
}

.footer-link {
    color: #333;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

}