@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.woff2') format('woff2'),
        url('fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.container {
    width: 100%;
    max-width: 1500px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}



.main-content {
    flex-grow: 1;
}

.header-content {
    background-image: url(/img/Rectangle\ 678.jpg);
    background-repeat: no-repeat;
}

.header-top {
    padding-top: 40px;
    background: #F3D7B7;
}

.header-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-list {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero-list-item:not(:last-child) {
    margin-right: 40px;
}

.hero-link {
    color: #333;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-main-bottom {
    padding-top: 45px;
    padding-left: 150px;
    right: 0;

}


.header-main-content {
    display: flex;
    align-items: center;

}

.header-main-wrapper {
    width: 100%;
    max-width: 464px;
    margin-right: 145px;
}

.header-main-heading {
    margin-top: 0;
    margin-bottom: 24px;
    width: 447px;
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-main-text {
    width: 464px;
    margin-top: 0;
    margin-bottom: 34px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.button {
    border: 0;
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 100px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    letter-spacing: 1px;
}

.button-green {

    background: #0A775F;
}

.button-burlywood {
    background: burlywood;
}

.header-main-bottom-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 710px;
    height: 696px;
    position: relative;

}

.logo-png {
    top: -50px;
    left:-80px;
    position: absolute;
    width: 160px;
    height: 160px;
}

.main-top {
    position: relative;
    margin-top: 20px;
    background-color: #F8F8F2;


}

.main-top-heading {
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;
}

.main-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.main-list-item {
    display: flex;
    align-items: center;
    margin-right: 117px;
    margin-left: 117px;
}

.main-list:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 117px;
}



.main-heading {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Roboto';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
}

.main-text {
    margin-top: 0;
    width: 453px;
    color: #333;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-transform: lowercase;
}

.our-collection-img {
    position: absolute;
    top: 0;
    left: -205px;
}

.our-collection-img2 {
    position: absolute;
    right: -196px;
}

.our-collection-img3 {
    position: absolute;
    left: -258px;
}